<footer class="text-center text-lg-start bg-dark text-muted" style="margin-bottom: 0px;">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Created, managed and deployed by Latrell Lee.
        <a class="text-white" href="https://www.latrell_lee.com/">latrell_lee.com</a>
    </div>
</footer>