<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <div class="container" style="display: flex; justify-content: center;">
                <div>
                    <h1 class="display-1">404</h1>
                    <h1 class="display-5">Oops! Something is wrong.</h1>
                    <a class="button" href="/"><i class="icon-home"></i> Go back to the main page, it's better.</a>
                </div>
            </div>
            <%- include('includes/end.ejs') %>