<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>
            <%- include('includes/jumbotron.ejs') %>
                <div class="container" style="display: flex; justify-content: center;">
                    <img src="https://images.pexels.com/photos/1459495/pexels-photo-1459495.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                        alt="" style="border-radius: 200%; align-items: center;" width="200" height="200">
                </div>
                <div class="container" style="display: flex; justify-content: center;">
                    <p class="h4">Latrell Lee</p>
                </div>
                <div class="container" style="display: flex; justify-content: center;">
                    <p class="lead">Connect with me on my socials! Check out my GitHub as well.</p>
                </div>
                <div class="container" style="display: flex; justify-content: center;">
                    <div class="row">
                        <a href="https://www.linkedin.com/in/latrell-lee-he-him-27801a154/"
                            class="nav-link">LinkedIn</a>
                    </div>
                </div>
                <div class="container" style="display: flex; justify-content: center;">
                    <div class="row">
                        <a href="#" class="nav-link">GitHub</a>
                    </div>
                </div>
                <div class="container" style="display: flex; justify-content: center;">
                    <div class="row">
                        <a href="#" class="nav-link">Instagram</a>
                    </div>
                </div>
                <%- include('includes/end.ejs') %>