
<div class="container">
    <div class="row">
        <div class="col">
            <img src="/images/Laptop.jpeg"
                alt="" class="img-fluid">
        </div>
        <div class="col">
            <!-- <h1 class="display-5">Mentorship</h1> -->
            <p class="lead">
                Giving Back To The World
            </p>
            <p>
                I believe that mentorship is the key to any individual's growth and development.
                Without the many mentors I've had throughout my life and academic career, there's
                no way that I'd be where I am today.
            </p>
        </div>
    </div>
</div>