<div class="jumbotron" style="margin-bottom: 0px;">
    <div class="row">
    <div class="col-md-4 text-md-left text-center">
        <img src='<%= imageURL %>' alt="Headshot" class="img-fluid" style="width: max-content; height: 300px;">
    </div>
    <div class="col-md-8 text-md-left text-center">
        <h1 class="display-5">Latrell Lee</h1>
        <p class="lead">
            Associate Software Engineer
        </p>
        <p>I am currently an Associate Software Engineer at Capital One Financial under their Technology Development Program. I joined Capital One under 
            their CODA (Capital One Developer Academy) program in order to focus on learning full stack
            web-development skills. I have experience building applications in Angular, EJS, Node.JS and Flask. Additionally, I have experience doing
            DevOps utilizing AWS. I'm in the process of building new projects with different frameworks, so be on the lookout. Thanks for stopping by!
        </p>
        <form action="/contact" method="GET">
            <button type="submit" class="btn btn-secondary">Contact Me</button>
        </form>
    </div>
    </div>
</div>
<div class="jumbotron " style="background-color: rgba(195, 195, 195); margin-bottom: 0px; height: 525px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <p class="h5" style="display: flex; justify-content: center;">
                    Software Engineer
                </p>
                <p class="text-center">
                    Working on becoming more versatile! Thanks for stopping by.
                </p>
                <a href="https://github.com/latrell-lee0919" class="btn btn-link" style="display: flex; justify-content: center;">See my GitHub for more.</a>
            </div>
            <div class="col">
                <p class="h5" style="display: flex; justify-content: center;">
                    Mentor
                </p>
                <p class="text-center">
                    It takes a village to raise a child... well uh, an engineer in this case.
                </p>
                <a href="https://www.linkedin.com/in/latrell-lee-he-him-27801a154" class="btn btn-link" style="display: flex; justify-content: center;">Connect with me on LinkedIn.</a>
            </div>
            <div class="col">
                <p class="h5" style="display: flex; justify-content: center;">
                    Constant Learner
                </p>
                <p class="text-center">
                    "A mind is a terrible thing to waste." So why stop learning?
                </p>
                <a href="/projects"  class="btn btn-link" style="display: flex; justify-content: center;">Check out my projects!</a>
            </div>
        </div>
    </div>
</div>
