
<div class="container">
    <div class="row">
        <div class="col">
            <p class="lead">
                Self Love & Self Investment
            </p>
            <p>
                In my opinion, self love and investing in yourself is arguably to most important
                (and most overlooked) part of becoming a better human being. No matter the goal,
                whether it's to get physically stronger, better at a specific skill or unlearning
                harmful ideas & behaviors, self love & self improvement are unequivocal tenets.
            </p>
        </div>
        <div class="col">
            <img src="/images/Laptop.jpeg"
                alt="" class="img-fluid">
        </div>
    </div>
</div>